@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:wght@500&family=Space+Mono:wght@400;700&display=swap');

h1 {
  font-family: 'Space Mono', monospace;
  font-size: 32px;
  margin-right: 100px;
}

h3 {
  padding: 20px;
  font-family: 'Inconsolata', monospace;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
}

body {
  max-width: 1440px;
  max-height: 1080px;
  margin: 0 auto;
}
.all{
  width: 80%;
  margin: 0 auto;
}

.content {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


 text {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 700; 
  font-size: 12px;
  color: #333333
 }


 img {
  margin-left: -30px;
  margin-right: 35px;
  width: 539px;
  height: 447px;
}

.texts {
  margin-left: 20px;
}

button {
  margin-top: 30px;
  background-color: #333333;
  font-family: 'Space Mono', monospace;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 23px 43px;
  cursor: pointer;
}

